<header>
  <h1><a href="/">The Tech Blog</a></h1>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      {{#if logged_in}}
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/logout">Logout</a></li>
      {{else}}
        <li><a href="/login">Login</a></li>
      {{/if}}
    </ul>
  </nav>
</header>
